<a href="https://colab.research.google.com/github/noorullask/aws-ass1/blob/main/ass_3_noorulla_41111167.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Examples of Concatenation
# Concatenating strings
str1 = "Hello"
str2 = "World"
concatenated_string = str1 + " " + str2
print(concatenated_string)

# Concatenating lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

Hello World
[1, 2, 3, 4, 5, 6]

In [ ]:
#Examples for Each Formatting Technique
# Using %-formatting
name = "John"
age = 30
formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)

# Using str.format()
name = "Jane"
age = 25
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

# Using f-strings (Python 3.6+)
name = "Alice"
age = 35
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is John and I am 30 years old.
My name is Jane and I am 25 years old.
My name is Alice and I am 35 years old.

In [ ]:
# Using str.format() with formatting options
num = 123.456789
formatted_string = "Formatted number: {:.2f}".format(num)  # Two decimal places
print(formatted_string)

# Using f-strings with formatting options
num = 12345.6789
formatted_string = f"Formatted number: {num:,.2f}"  # Comma as a thousands separator, two decimal places
print(formatted_string)

Formatted number: 123.46
Formatted number: 12,345.68

In [ ]:
# Addition
result_addition = 5 + 3
print("Addition:", result_addition)

# Subtraction
result_subtraction = 8 - 2
print("Subtraction:", result_subtraction)

# Multiplication
result_multiplication = 4 * 6
print("Multiplication:", result_multiplication)

# Division
result_division = 10 / 2
print("Division:", result_division)

# Modulus
result_modulus = 17 % 5
print("Modulus:", result_modulus)

# Exponentiation
result_exponentiation = 2 ** 3
print("Exponentiation:", result_exponentiation)

Addition: 8
Subtraction: 6
Multiplication: 24
Division: 5.0
Modulus: 2
Exponentiation: 8

In [ ]:
# Example for -=
x = 10
x -= 5
print("-= operator:", x)  # Outputs: 5

# Example for *=
y = 3
y *= 4
print("*= operator:", y)  # Outputs: 12

# Example for /=
z = 20
z /= 5
print("/= operator:", z)  # Outputs: 4.0

-= operator: 5
*= operator: 12
/= operator: 4.0